<div>
  <div style="border: 2px solid black;">
    <div
      style="text-align: end; font-size: x-large; font-weight: 900; padding: 10px;"
    >
      {{ userName }}
    </div>
  </div>
  <div style="border:2px solid black; height:100%; display: flex;">
    <div style="width:15%;height:92vh; border: 2px solid black;">
      <div
        style="padding: 20px;border-bottom: 4px solid black; font-weight: 900;"
      >
        <input
          class="search"
          type="text"
          name="serchName"
          id="serchName"
          (keyup)="Search()"
          [(ngModel)]="serchName"
          placeholder="Search"
        />
      </div>
      <div *ngFor="let user of users" id="serchingName">
        <div
          style="padding: 20px;border-bottom: 4px solid black; font-weight: 900;"
          class="directory"
          (click)="chatting(user)"
        >
          {{ user.name }}
        </div>
      </div>
    </div>
    <div>
      <div
        style="font-weight: 900;
      padding: 20px;
      font-size: larger;
      border-bottom: 2px solid black;
  "
      >
        {{ chattinguser }}
      </div>
      <div
        style="height: 80vh; overflow-y: scroll; "
        #scrollMe
        [scrollTop]="scrollMe.scrollHeight"
      >
        <div *ngFor="let chatting of chat">
          <ng-template [ngIf]="chatting.sender_id == chattinguserID"
            ><div
              style="padding: 20px;border: 4px solid black; font-weight: 900; text-align: left; margin-right: 50%;border-radius: 20%;"
              class="directory"
            >
              {{ chatting.message }}
            </div>
          </ng-template>
          <ng-template [ngIf]="chatting.reciever_id == chattinguserID"
            ><div
              style="padding: 20px;border: 4px solid black; font-weight: 900; text-align: right; margin-left: 50%; border-radius: 20%;"
              class="directory"
            >
              {{ chatting.message }}
            </div></ng-template
          >
        </div>
      </div>
      <form
        class="container"
        action=""
        #userform="ngForm"
        style="width:1333px"
        (ngSubmit)="onsubmit()"
      >
        <div>
          <div
            class="form-row"
            style="display: flex;
    justify-content: space-between;"
          >
            <div class="form-group" style="width: 100%;">
              <div style="">
                <input
                  style="height: 50px; width: 100%;"
                  type="text"
                  class="form-control  is-invalid"
                  id="inputEmail4"
                  name="message"
                  #message="ngModel"
                  required
                  [class.is-invalid]="message.invalid && message.touched"
                  [(ngModel)]="data.message"
                  placeholder="message"
                />
              </div>
            </div>
            <div class="form-row">
              <button
                type="submit"
                [disabled]="userform.form.invalid"
                class="btn btn-primary"
                style="width: 100px; height: 56px;"
              >
                Sign up
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
